<app-formulari-cerca
  (cerca)="serveiService.cercar($event)"
></app-formulari-cerca>

<div *ngIf="serveiService.carregant()" class="estat carregant">
  <div class="spinner"></div>
  <p>Carregant serveis...</p>
</div>

<div *ngIf="serveiService.error()" class="estat error">
  <p>{{ serveiService.error() }}</p>
  <button (click)="reintentar()">Reintentar</button>
</div>

<p
  *ngIf="
    !serveiService.carregant() &&
    !serveiService.error() &&
    serveiService.serveis().length === 0
  "
  class="estat sense-resultats"
>
  No s’han trobat serveis.
</p>

<div
  class="contenidor-cataleg"
  *ngIf="
    !serveiService.carregant() &&
    !serveiService.error() &&
    serveiService.serveis().length > 0
  "
>
  <div class="llista-serveis">
    <app-servei-card
      *ngFor="let servei of serveiService.serveis()"
      [servei]="servei"
    ></app-servei-card>
  </div>

  <app-panell-preferits></app-panell-preferits>
</div>
