<div *ngIf="serveiService.carregant()" class="estat carregant">
  <div class="spinner"></div>
  <p>Carregant serveis...</p>
</div>

<div *ngIf="serveiService.error()" class="estat error">
  <p>{{ serveiService.error() }}</p>
  <button (click)="reintentar()">Reintentar</button>
</div>

<p
  *ngIf="
    !serveiService.carregant() &&
    !serveiService.error() &&
    serveiService.serveis().length === 0
  "
  class="estat sense-resultats"
>
  No s’han trobat serveis.
</p>

<div
  class="contenidor-cataleg"
  *ngIf="
    !serveiService.carregant() &&
    !serveiService.error() &&
    serveiService.serveis().length > 0
  "
>
  <div class="llista-serveis">
    <a
      *ngFor="let servei of serveiService.serveis()"
      [routerLink]="['/detall', servei.id]"
      class="enllac-detall"
    >
      <app-servei-card [servei]="servei"></app-servei-card>
    </a>
  </div>
</div>
